:host {
    --message-container-width: 300px;
    --message-container-height: 500px;
}


.grid-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    height: 100%;
    grid-template-columns: auto;
}

.chat-groups{
    padding: 10px 0px;
    color: white;
    grid-row: 1;
    grid-column: 1;
}

.chat-group-header{
    font-size: 24px;
}

.chat-group{
    background-image: linear-gradient(to right, rgb(70 121 164), rgb(37 54 131));
    clip-path: polygon(100% 0, 91% 5%, 98% 7%, 89% 12%, 97% 16%, 84% 20%, 97% 24%, 83% 28%, 96% 31%, 81% 36%, 95% 41%, 79% 45%, 95% 50%, 75% 55%, 92% 59%, 77% 63%, 98% 67%, 76% 70%, 89% 74%, 75% 78%, 89% 84%, 81% 87%, 95% 92%, 75% 93%, 100% 100%, 47% 100%, 0 100%, 0 0);
    font-size: 20px;
    padding: 15px;
}

.chat-group, .checkbox-containe, .form-status, button{
    margin: 10px 0px;
}

[class="chat-group"]:hover {
    color: rgb(255, 0, 212);
    cursor: pointer;
}

[class="chat-group"]:active,
[class="chat-group"]:focus {
    outline: 0;
    border: none;
}


.side-menu button {
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(86, 68, 128), rgb(79, 40, 120));
    padding: 6px 10px;
    width: 200px;
    font-size: 20px;
    box-shadow: 5px 5px 1px #222;
    text-shadow: 2px 2px 1px black;
    margin: 4px 0px;
}

.side-menu{
    grid-column: 2;
}
