<div class="grid-container">

    <div class="chat-groups">

        <ng-container *ngFor="let chatGroup of chatService.chatGroups">
            <div *ngIf="!createChatGroup"
            (mouseover)='over($event)' (mouseout)='out($event)'
                title="Chat with {{chatGroup.Usernames.join(' & ')}}"
                class="chat-group" 
                routerLink="/chat"
                [queryParams]="{ guid: chatGroup.Guid, usernames: chatGroup.Usernames }">
                {{chatGroup.Usernames.join(' & ')}}
            </div>
        </ng-container>

    

        

    </div>

    <!-- <div class="side-menu" >

        <button *ngIf="!createChatGroup" (click)="openCreateNewChatGroup()" 
        (mouseover)='over($event)' (mouseout)='out($event)'
        class="side-menu-button" 
        title="Create New Chat Group">Create Group</button>

        <button *ngIf="createChatGroup"  (click)="closeCreateNewChatGroup()" 
        (mouseover)='over($event)' (mouseout)='out($event)'
        class="side-menu-button" 
        title="Open Chat Groups">Open Groups</button>

    </div> -->

</div>