<div class="weekdayName-names-contianer">
    <div *ngFor="let weekdayName of weekdayNamesEndSunday;">
        {{weekdayName}}
    </div>
</div>

<div class="date-box-contianer">

    <div *ngFor="let dayDate of dayDatesForMonth; let i = index" class="date-box 
        {{isToday(dayDate.DateTime)}}" [style.gridColumn]="dayDate.gridCol" [style.gridRow]="dayDate.gridRow">

        <div class="day" (click)="openAddEventForm(dayDate.DateTime)">
            {{dayOfMonthString(dayDate.DateTime)}}
        </div>

        <ng-container class="table" *ngFor="let record of filterRecordsByDay(dayDate.DateTime);">

            <div class="record" (click)="openUpdateEventForm(record)">
                <div class="record-time">
                    {{timeString(record.DateTime)}} -</div>
                {{record.What}}
            </div>

        </ng-container>
    </div>
</div>