:host { 
    --main-margin: 5px; 
    --weekday-name-font-weight: 600;
    --weekday-name-and-number-font-size: 18px;
    --weekday-name-and-number-text-color: hotpink;
    --record-font-size: 14px;
    /* --record-text-and-heading-color: white; */
    --record-minimum-height: 150px;
    --record-font-family: inherit;
    --record-border-type: solid;
    --record-border-thickness: 2px;
    --record-border-red-color: rgb(255, 53, 94);
    --record-border-red: var(--record-border-type) var(--record-border-thickness) var(--record-border-red-color);
    --record-border-orange-color: rgb(255, 96, 55);
    --record-border-orange: var(--record-border-type) var(--record-border-thickness) var(--record-border-orange-color);
    --record-border-yellow-color: rgb(255, 204, 51);
    --record-border-yellow: var(--record-border-type) var(--record-border-thickness) var(--record-border-yellow-color);
    --record-border-green-color: rgb(102, 255, 102);
    --record-border-green: var(--record-border-type) var(--record-border-thickness) var(--record-border-green-color);
    --record-border-light-blue-color: rgb(80, 191, 230);
    --record-border-light-blue: var(--record-border-type) var(--record-border-thickness) var(--record-border-light-blue-color);
    --record-border-pink-color: rgb(255, 0, 204);
    --record-border-pink: var(--record-border-type) var(--record-border-thickness) var(--record-border-pink-color);
    --record-border-violet-color: rgb(150, 78, 202);
    --record-border-violet: var(--record-border-type) var(--record-border-thickness) var(--record-border-violet-color);
}

/*small size wrapper*/

@media screen and (max-width: 800px) {
     :host {
        --weekday-name-and-number-font-size: 13px;
        --record-minimum-height: 100px;
        --record-font-family: 'Arial Narrow';
        --record-font-size: 10px;
        --record-text-color: white;
        --record-border-thickness: 1px;
    }
}

.weekdayName-names-contianer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekdayName-names-contianer div {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    grid-row: 1;
    grid-column: auto;
    font-weight: var(--weekday-name-font-weight);
    text-align: center;
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
}

.today{
    background-color: rgb(88, 85, 253, 0.4) !important;
}

.date-box-contianer {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto, minmax(var(--record-minimum-height), auto));
    /* background-image: linear-gradient(40deg, grey, white); */
}

.date-box-contianer > .date-box {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: var(--record-minimum-height);
}

.date-box-contianer > .date-box > .day {
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
}

.date-box-contianer > .date-box > .table >.record {
    color: var(--record-text-and-heading-color);
    font-size: var(--record-font-size);
    font-family: var(--record-font-family);
    letter-spacing: var(--record-letter-spacing);
}

.date-box-contianer > [data-col="1"].date-box,
[data-max-row="1"][data-col="1"].date-box {
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
}

.date-box-contianer > [data-col="2"].date-box {
    border-left: var(--record-border-orange);
    border-top: var(--record-border-orange);
}

.date-box-contianer > [data-col="3"].date-box {
    border-left: var(--record-border-yellow);
    border-top: var(--record-border-yellow);
}

.date-box-contianer > [data-col="4"].date-box {
    border-left: var(--record-border-green);
    border-top: var(--record-border-green);
}

.date-box-contianer > [data-col="5"].date-box {
    border-left: var(--record-border-light-blue);
    border-top: var(--record-border-light-blue);
}

.date-box-contianer > [data-col="6"].date-box {
    border-left: var(--record-border-pink);
    border-top: var(--record-border-pink);
}

.date-box-contianer > [data-col="7"].date-box {
    border-left: var(--record-border-violet);
    border-right: var(--record-border-violet);
    border-top: var(--record-border-violet);
}

.date-box-contianer > [data-empty-below="1"][data-col="1"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="1"].date-box {
    border-bottom: var(--record-border-red);
}

.date-box-contianer > [data-empty-below="1"][data-col="2"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="2"].date-box {
    border-bottom: var(--record-border-orange);
}

.date-box-contianer > [data-empty-below="1"][data-col="3"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="3"].date-box {
    border-bottom: var(--record-border-yellow);
}

.date-box-contianer > [data-empty-below="1"][data-col="4"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="4"].date-box {
    border-bottom: var(--record-border-green);
}

.date-box-contianer > [data-empty-below="1"][data-col="5"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="5"].date-box {
    border-bottom: var(--record-border-light-blue);
}

.date-box-contianer > [data-empty-below="1"][data-col="6"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="6"].date-box {
    border-bottom: var(--record-border-pink);
}

.date-box-contianer > [data-empty-below="1"][data-col="7"].date-box,
.date-box-contianer > [data-max-row="1"][data-col="7"].date-box {
    border-bottom: var(--record-border-violet);
}

.date-box-contianer > [last-item="1"][data-col="1"].date-box {
    border-right: var(--record-border-red);
}

.date-box-contianer > [last-item="1"][data-col="2"].date-box {
    border-right: var(--record-border-orange);
}

.date-box-contianer > [last-item="1"][data-col="3"].date-box {
    border-right: var(--record-border-yellow);
}

.date-box-contianer > [last-item="1"][data-col="4"].date-box {
    border-right: var(--record-border-green);
}

.date-box-contianer > [last-item="1"][data-col="5"].date-box {
    border-right: var(--record-border-light-blue);
}

.date-box-contianer > [last-item="1"][data-col="6"].date-box {
    border-right: var(--record-border-pink);
}

.date-box-contianer > [last-item="1"][data-col="7"].date-box {
    border-right: var(--record-border-violet);
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

.day {
    padding-left: 2px;
}
