<div class="weekdayName-names-contianer">
    <div *ngFor="let weekdayName of calendarHelper.weekdayNames();">
        {{weekdayName}}
    </div>
</div>

<div class="date-box-contianer">
    
    <div *ngFor="let dayData of dayDataForMonth; let i = index"
        class="date-box {{calendarService.today.year === calendarService.year && calendarService.today.month === calendarService.month && calendarService.today.day === (dayData.dayInMonthArrayIndex) ? 'today' : '' }}"
        [style.gridColumn]="dayData.gridCol" 
        [style.gridRow]="dayData.gridRow">

        <div class="day" (click)="openAddEventForm(dayData)">{{dayData.dayInMonthArrayIndex}}<sup>{{calendarHelper.addOrdinalIndictor(dayData.dayInMonthArrayIndex)}}</sup></div>

        <ng-container class="table" *ngFor="let record of calendarService.filterRecordsByDay(dayData.dayInMonthArrayIndex);">

            <div class="record" (click)="openUpdateEventForm(record)">
                <div class="record-time">{{calendarHelper.padToTwo(record.hour)}}:{{calendarHelper.padToTwo(record.minute)}} -</div> {{record.what}}
            </div>

        </ng-container>
    </div>
</div>