:host {
    --main-margin: 5px;
    --weekday-name-font-weight: 400;
    --weekday-name-and-number-font-size: 14px;
    --weekday-name-and-number-text-color: hotpink;
    --weekday-name-font-family: inherit;
    --record-font-size: 14px;
    --record-minimum-height: 150px;
    --record-font-family: inherit;
    --record-letter-spacing: -1px;
    --record-max-width: 250px;
    --record-text-and-heading-color: var(--main-font-color);
    --record-border-type: solid;
    --record-border-thickness: 2px;
    --record-border-red-color: rgb(255, 53, 94);
    --record-border-red: var(--record-border-type) var(--record-border-thickness) var(--record-border-red-color);
    --record-border-orange-color: rgb(255, 96, 55);
    --record-border-orange: var(--record-border-type) var(--record-border-thickness) var(--record-border-orange-color);
    --record-border-yellow-color: rgb(255, 204, 51);
    --record-border-yellow: var(--record-border-type) var(--record-border-thickness) var(--record-border-yellow-color);
    --record-border-green-color: rgb(102, 255, 102);
    --record-border-green: var(--record-border-type) var(--record-border-thickness) var(--record-border-green-color);
    --record-border-light-blue-color: rgb(80, 191, 230);
    --record-border-light-blue: var(--record-border-type) var(--record-border-thickness) var(--record-border-light-blue-color);
    --record-border-pink-color: rgb(255, 0, 204);
    --record-border-pink: var(--record-border-type) var(--record-border-thickness) var(--record-border-pink-color);
    --record-border-violet-color: rgb(150, 78, 202);
    --record-border-violet: var(--record-border-type) var(--record-border-thickness) var(--record-border-violet-color);
    --record-time-display: inline-block;
    --mask-background-color: rgba(68, 68, 68, 0.5);
}

@media screen and (max-width: 1700px) and (min-width: 1300px) {
     :host {
        --weekday-name-and-number-font-size: 14px;
        --weekday-name-font-weight: 400;
        --weekday-name-font-family: 'Arial Narrow';
        --record-max-width: 200px;
        --record-font-family: 'Arial';
        --record-font-size: 13px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
     :host {
        --weekday-name-and-number-font-size: 14px;
        --weekday-name-font-weight: 400;
        --weekday-name-font-family: 'Arial Narrow';
        --record-max-width: 150px;
        --record-font-family: 'Arial';
        --record-font-size: 12px;
    }
}


/*medium size wrapper*/

@media screen and (max-width: 1100px) and (min-width: 800px) {
     :host {
        --weekday-name-and-number-font-size: 14px;
        --weekday-name-font-weight: 300;
        --weekday-name-font-family: 'Arial Narrow';
        --record-max-width: 100px;
        --record-font-family: 'Arial';
        --record-font-size: 11px;
        --record-time-display: none;
    }
}


/*small size wrapper*/

@media screen and (max-width: 800px) {
     :host {
        --weekday-name-and-number-font-size: 13px;
        --weekday-name-font-weight: 300;
        --weekday-name-font-family: 'Arial Narrow';
        --record-max-width: 40px;
        --record-font-family: 'Arial';
        --record-font-size: 10px;
        --record-time-display: none;
    }
}

.weekdayName-names-contianer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekdayName-names-contianer div {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    grid-row: 1;
    grid-column: auto;
    font-weight: var(--weekday-name-font-weight);
    text-align: center;
    font-size: var(--weekday-name-and-number-font-size);
    color: rgb(245,213,6);
    text-shadow:  1px 1px 0.5px black;
}

.today {
    border: 2px solid rgb(127, 29, 118)!important;
}

.date-box-contianer {
    display: grid;
    /* 20px for the scrool bar when displayed */
    grid-template-columns: repeat(7, calc((((100vw - 20px) - var(--side-menu-button-width))/7)) );

    grid-template-rows: repeat(auto, minmax(var(--record-minimum-height), auto));
    grid-row-gap: 2px;
}

.date-box-contianer .record-time {
    display: var(--record-time-display);
}

.date-box-contianer>.date-box {
    background-color: rgba(255, 255, 255, 0.2);
    min-height: var(--record-minimum-height);
}

.date-box-contianer>.date-box>.day {
    font-size: var(--weekday-name-and-number-font-size);
    color: white;
    font-family: var(--weekday-name-font-family);
    font-weight: var(--weekday-name-font-weight);
    background-image: linear-gradient(to right, rgb(70 121 164), rgb(37 54 131));
}

.date-box-contianer>.date-box>.record {
    background-image: linear-gradient(to right, rgb(141, 56, 162), rgb(127, 29, 118));
    color: white;
    font-size: var(--record-font-size);
    font-family: var(--record-font-family);
    letter-spacing: var(--record-letter-spacing);
    /* text-overflow: ellipsis; */
    overflow: hidden;
    white-space: nowrap;
    /* max-width: var(--record-max-width);
    width: calc(100% - 10px); */
    margin-bottom: 3px;
}

/* .date-box-contianer>[data-col="1"].date-box,
[data-max-row="1"][data-col="1"].date-box {
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
}

.date-box-contianer>[data-col="2"].date-box {
    border-left: var(--record-border-orange);
    border-top: var(--record-border-orange);
}

.date-box-contianer>[data-col="3"].date-box {
    border-left: var(--record-border-yellow);
    border-top: var(--record-border-yellow);
}

.date-box-contianer>[data-col="4"].date-box {
    border-left: var(--record-border-green);
    border-top: var(--record-border-green);
}

.date-box-contianer>[data-col="5"].date-box {
    border-left: var(--record-border-light-blue);
    border-top: var(--record-border-light-blue);
}

.date-box-contianer>[data-col="6"].date-box {
    border-left: var(--record-border-pink);
    border-top: var(--record-border-pink);
}

.date-box-contianer>[data-col="7"].date-box {
    border-left: var(--record-border-violet);
    border-right: var(--record-border-violet);
    border-top: var(--record-border-violet);
}

.date-box-contianer>[data-empty-below="1"][data-col="1"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="1"].date-box {
    border-bottom: var(--record-border-red);
}

.date-box-contianer>[data-empty-below="1"][data-col="2"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="2"].date-box {
    border-bottom: var(--record-border-orange);
}

.date-box-contianer>[data-empty-below="1"][data-col="3"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="3"].date-box {
    border-bottom: var(--record-border-yellow);
}

.date-box-contianer>[data-empty-below="1"][data-col="4"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="4"].date-box {
    border-bottom: var(--record-border-green);
}

.date-box-contianer>[data-empty-below="1"][data-col="5"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="5"].date-box {
    border-bottom: var(--record-border-light-blue);
}

.date-box-contianer>[data-empty-below="1"][data-col="6"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="6"].date-box {
    border-bottom: var(--record-border-pink);
}

.date-box-contianer>[data-empty-below="1"][data-col="7"].date-box,
.date-box-contianer>[data-max-row="1"][data-col="7"].date-box {
    border-bottom: var(--record-border-violet);
}

.date-box-contianer>[last-item="1"][data-col="1"].date-box {
    border-right: var(--record-border-red);
}

.date-box-contianer>[last-item="1"][data-col="2"].date-box {
    border-right: var(--record-border-orange);
}

.date-box-contianer>[last-item="1"][data-col="3"].date-box {
    border-right: var(--record-border-yellow);
}

.date-box-contianer>[last-item="1"][data-col="4"].date-box {
    border-right: var(--record-border-green);
}

.date-box-contianer>[last-item="1"][data-col="5"].date-box {
    border-right: var(--record-border-light-blue);
}

.date-box-contianer>[last-item="1"][data-col="6"].date-box {
    border-right: var(--record-border-pink);
}

.date-box-contianer>[last-item="1"][data-col="7"].date-box {
    border-right: var(--record-border-violet);
} */

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

.day {
    padding-left: 2px;
}