<div class="weekdayName-names-contianer">
    <div *ngFor="let weekdayName of calendarHelper.weekdayNamesEndSunday();">
        {{weekdayName}}
    </div>
</div>

<div class="date-box-contianer">

    <div *ngFor="let dayData of dayDataForMonth; let i = index" class="date-box 
        {{isToday(dayData.dayInMonth)}}" [style.gridColumn]="dayData.gridCol" [style.gridRow]="dayData.gridRow">

        <div class="day" (click)="openAddEventForm(dayData)">{{dayOfMonthString(dayData.dateTime)}}
        </div>

        <ng-container class="table"
            *ngFor="let record of calendarService.filterRecordsByDay(dayData.dayInMonth);">

            <div class="record" (click)="openUpdateEventForm(record)">
                <div class="record-time">
                    {{timeString(record.dateTime)}} -</div>
                {{record.what}}
            </div>

        </ng-container>
    </div>
</div>