.messageNode {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 500px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgb(0 0 0 / 13%);
    margin-bottom: 10px;
    
    background-color:rgba(0, 0, 0, 0.5);
    font-size: var(--message-size);
    font-weight: var(--message-weight);
    font-family: var(--message-font-family);
    word-wrap: break-word;
}

.messageNode::before {
    position: absolute;
    left: -10px;
    top: 0;
    content: "";
    display: block;
    border: solid;
    border-width: 0px 16px 16px 0px;
    border-color: transparent;
    border-right-color: var(--message-secondary-background-color);
  }

.primary {
    --user-color-message:#cfe9ba;
    align-self: flex-end;
    background-color:  var(--message-primary-background-color);
  }

.primary::before {
    left: auto;
    right: -28px;
    border-width: 0px 16px 16px 16px;
    border-color: transparent;
    border-left-color:  var(--message-primary-background-color);
  }

.primary + .primary::before {
    display: none;
  }

.primary {
    color: var(--main-font-color);
    background-color: var(--message-primary-background-color);
}

.secondary {
    background-color: var(--message-secondary-background-color);
    color: var(--main-font-color);
}

.messageNode.is-other + .is-other::before {
    display: none;
  }

.messageNode{
    white-space: pre-wrap;
}

.messageNode .dateTime {
    font-size: calc(var(--message-size) - 4px);
    color: rgb(100, 100, 100);
    float: right;
    margin-top: 8px;
}

.messageNode img {
    display: block;
}

.messageNode p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.messageNode .who{
    color:rgb(200, 0, 0);
    font-size: calc(var(--message-size) - 2px);
}

.primary .messageNode img {
    float: right;
}

.secondary .messageNode img {
    float: left;
}

.messageNode.is-time {
    align-self: center;
    background-color: var(--message-secondary-background-color);
    color: var(--main-font-color);
    font-size: calc(var(--message-size) - 2px);
    text-transform: uppercase;
  }

  .messageNode.is-time::before {
    display: none;
  }