<div class="login" *ngIf='loggedIn === false'>

<h1>Login</h1>
    <form>
        <label for="username">Username</label>
        <input [type]="text" #username name="username" autocomplete="username">
        <label for="password">Password</label>
        <input [type]="show ? 'text' : 'password'" #password name="password" placeholder="key" autocomplete="current-password">
        <button (click)="showPassword()">{{show ? 'Hide' : 'Show'}}</button>
        <input class="submit" (click)='login(username.value, password.value)' type="submit" value="Submit">
    </form>
</div>

<div class="links">
    <div>Links:</div>
    <a href="https://psullyltd.com/">psullyltd</a>
</div>