.login{
    padding-left:5px;
}

button,
input[type=submit] {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

input[type=text],
input[type=password] {
    display: inline;
    resize: none;
    width: 215px;
    font-size: 16px;
    border: 1px solid green;
    padding: 2px
}

button:hover,
.submit:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

.submit:active,
.submit:focus,
button:active,
button:focus
 {
    outline: 0;
    border: none;
}

button {
    display: inline;
}

label {
    font-size: 16px;
    color: var(--main-header-font-color);
    display: block;
}

.login > h1{
    padding-top: 5px;
}

#usernameContainer h4{
     padding-top: 5px;
}

.links{
    margin-left:5px;
    padding-top: 5px;
    color: var(--main-header-font-color);
    font-family: inherit;
}

.links a{
    margin-left:10px;
    transition: 1000ms;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: var(--main-header-font-color);
}

.links > a:hover {
    border-bottom: 1px solid lightskyblue;
    color:lightskyblue;
    text-decoration:none;
    cursor:pointer;
}

.links > a.nostyle:link {
    text-decoration: none;
    color:var(--main-header-font-color);
    cursor: auto;
}

.links > a.nostyle:visited {
    text-decoration: none;
    color:var(--main-header-font-color);
    cursor: auto;
}
