/*#region SMALL SIZE WRAPPER - DEFAULT*/
:host {
    --graph-length: calc(95vw - var(--side-menu-button-width));
    --graph-pad: 10px;
}
/*#endregion*/

#chart-container{
    position: relative;
    width: var(--graph-length);
}
