<div class="app-container-2">
    <div class="app-container3">
        <div class="page-title">{{pageTitle}}</div>
    </div>

    <div class="app-container-h">
        <div class="app-container">

            <div class="page-title">{{toolInfo}}</div>

            <!-- <div class="icon-home" title="home" routerLink="/apps"></div> -->
            <!-- <div *ngIf="LoginService.username === 'david'" class="icon-user-plus" title="new user" routerLink="/newUser"></div> -->
            <!-- <div class="icon-terminal" title="logs" (click)="toggleLogs()"></div> -->
            <!-- <div class="icon-star-half" title="darkMode" (click)="toggleDarkMode()"></div> -->
            <!-- <div class="icon-exit" title="logout" (click)="logout()"></div> -->
        </div>
        <!-- <div class="icon-home test" title="home" routerLink="/apps"></div> -->
    </div>
</div>

