.menu-title{
    grid-row: 1;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 0.5px 0 currentColor;
    color: rgb(91, 186, 172);
    background-color: black;
    width: 40vw;
    clip-path: polygon(100% 0, 91% 5%, 98% 7%, 89% 12%, 97% 16%, 84% 20%, 97% 24%, 83% 28%, 96% 31%, 81% 36%, 95% 41%, 79% 45%, 95% 50%, 75% 55%, 92% 59%, 77% 63%, 98% 67%, 76% 70%, 89% 74%, 75% 78%, 89% 84%, 81% 87%, 95% 92%, 75% 93%, 100% 100%, 47% 100%, 0 100%, 0 0);
}

.menu-tooltip {
    grid-row: 2;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    height: 40px;
}

.app-container{
    width: calc(100vw - 70px);
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    clip-path: polygon(100% 0, 91% 5%, 98% 7%, 89% 12%, 97% 16%, 84% 20%, 97% 24%, 83% 28%, 96% 31%, 81% 36%, 95% 41%, 79% 45%, 95% 50%, 75% 55%, 92% 59%, 77% 63%, 98% 67%, 76% 70%, 89% 74%, 75% 78%, 89% 84%, 81% 87%, 95% 92%, 75% 93%, 100% 100%, 47% 100%, 0 100%, 0 0); 

}
.app-container > .page-title{
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.app-container > div{
    padding: 0px 10px 0px 10px;
    display: inline-block;
}

.app-container > div:last-child{
    margin-left: auto
}
