:host {
    --menu-title-height: 20px;
    --menu-tooltip-height: 40px;
}

.menu-title {
    grid-row: 1;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 0.5px 0 currentColor;
    color: rgb(91, 186, 172);
    background-color: black;
    width: 40vw;
    height: var(--menu-title-height);
    clip-path: polygon(100% 0, 91% 5%, 98% 7%, 89% 12%, 97% 16%, 84% 20%, 97% 24%, 83% 28%, 96% 31%, 81% 36%, 95% 41%, 79% 45%, 95% 50%, 75% 55%, 92% 59%, 77% 63%, 98% 67%, 76% 70%, 89% 74%, 75% 78%, 89% 84%, 81% 87%, 95% 92%, 75% 93%, 100% 100%, 47% 100%, 0 100%, 0 0);
}

.menu-title>.page-title {
    height: var(--menu-title-height);
}

.menu-tooltip {
    grid-row: 2;
    display: flex;
    align-content: center;
    flex-flow: row wrap;
    height: var(--menu-tooltip-height);
}

.tooltip-container {
    width: calc(100vw - 70px);
    height: var(--menu-tooltip-height);
    background-color: rgba(0, 0, 0, 1);
    clip-path: polygon(100% 0, 91% 5%, 98% 7%, 89% 12%, 97% 16%, 84% 20%, 97% 24%, 83% 28%, 96% 31%, 81% 36%, 95% 41%, 79% 45%, 95% 50%, 75% 55%, 92% 59%, 77% 63%, 98% 67%, 76% 70%, 89% 74%, 75% 78%, 89% 84%, 81% 87%, 95% 92%, 75% 93%, 100% 100%, 47% 100%, 0 100%, 0 0);
}

.tooltip-container>.page-title {
    text-transform: capitalize;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.tooltip-container>div {
    padding: 0px 10px 0px 10px;
    display: inline-block;
}

.tooltip-container>div:last-child {
    margin-left: auto
}


.menu-bar-container {
    position: relative;
    align-items: center;
    height: var(--menu-bar-height);
    width: 100%;
    background-color: rgba(238, 238, 238, 1);
    color: black;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr 1fr;
    justify-content: left;
}


.hamburger {
    grid-row: 1 / 3;
    grid-column: 2 / 2;
}

.hamburger:hover {
    cursor: pointer;
}

.bar1 {
    margin-top: 5px !important;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 5px;
    background-color: #333;
    margin: 3px 5px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.side-menu {
    top: 60px;
    background-image: linear-gradient(to right, rgba(195 164 245/ 60%), rgba(119 84 157/ 60%));
    color: black;
    font-size: 16px;
    width: calc(var(--side-menu-margin) + var(--side-menu-button-width) + 2 * var(--side-menu-padding));
    position: fixed;
    overflow-y: auto;
    bottom: 0;
}

.side-menu>div {
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(86 68 128/ 60%), rgb(79 40 120/ 60%));
    padding: var(--side-menu-padding);
    width: var(--side-menu-button-width);
    font-size: var(--side-menu-font-size);
    box-shadow: var(--side-menu-box-shadow);
    text-shadow: var(--side-menu-text-shadow);
    margin: var(--side-menu-margin);
}

.side-menu>div:hover.child-menu,
.side-menu>div:hover.side-menu-button {
    background-image: linear-gradient(to right, rgb(195 164 245/ 60%), rgb(119 84 157/ 60%));
}

.side-menu>div.is-active {
    background-image: linear-gradient(to right, rgb(195 164 245/ 60%), rgb(119 84 157/ 60%));
}

.side-menu>div.side-menu-button.child-menu {
    margin-left: 20px;
    width: calc(var(--side-menu-button-width) - 20px);
}
