<div class="gm-container">
    <div data-value="Apps">
        <div id="home-click" data-value="Home"> </div>
        <div id="calendar-click" data-value="Calendar"> </div>
        <div id="chat-click" data-value="Chat"> </div>
        <div id="todo-click" data-value="Todo"> </div>
    </div>

    <div data-value="File">
        <div id="cancel-click" data-value="Cancel"> </div>
        <div id="delete-click" data-value="Delete"> </div>
        <div id="save-click" data-value="Save"> </div>
        <div id="login-click" data-value="Login"> </div>
        <div id="logout-click" data-value="Logout"> </div>
        <div data-value="Users">
            <div id="new-user-click" data-value="New"></div>
        </div>
    </div>

    <div data-value="Edit">
        <div id="undo-click" data-value="Undo"> </div>
    </div>

    <div data-value="View">
        <div id="day-click" data-value="Day"> </div>
        <div id="week-click" data-value="Week"> </div>
        <div id="month-click" data-value="Month"> </div>
    </div>

    <div data-value="Help">
        <div data-value="About" id="about-click"> </div>
    </div>

</div>
