<div class="date-box-contianer">

    <div class="date-box day {{calendarService.today.year === calendarService.year && calendarService.today.month === calendarService.month && calendarService.today.day === (dayData.dayInMonthArrayIndex) ? 'today' : '' }}"
        (click)="openAddEventForm(dayData)" *ngFor="let dayData of daysForWeek; " [style.gridRow]="1 "
        [attr.data-row]="1 " [style.gridColumn]="dayData.col + 1 " [attr.data-col]="dayData.col + 1 ">
        {{dayData.dayName}} {{dayData.dayInMonth}}
    </div>
    <div class="date-box day invalid" *ngFor="let dayData of emptyDaysForWeek;" [style.gridRow]="1 "
        [attr.data-row]="1 " [style.gridColumn]="dayData.col + 1 " [attr.data-col]="dayData.col + 1 ">
        {{dayData.dayName}} {{dayData.dayInMonth}}
    </div>

    <div class="date-box mask" *ngFor="let result of dateTimeRecords; "
        (click)="openAddEventForm({'dayInMonthArrayIndex': result.day, 'hour': result.hour})"
        [style.gridRow]="result.hour + 2 " [attr.data-row]="result.hour + 2 " [style.gridColumn]="result.col + 1 "
        [attr.data-col]="result.col + 1 ">
        <div class="record " (click)="openUpdateEventForm(record) " *ngFor="let record of result.records; ">
            {{ record.what }}
        </div>
    </div>

    <div class="date-box empty mask" *ngFor="let result of dateTimeEmptyRecords; "
        (click)="openAddEventForm({'dayInMonthArrayIndex': result.day, 'hour': result.hour})"
        [style.gridRow]="result.hour + 2 " [attr.data-row]="result.hour + 2 " [style.gridColumn]="result.col + 1 "
        [attr.data-col]="result.col + 1 ">
    </div>

    <div class="date-box invalid" *ngFor="let result of dateTimeInvalidEmptyRecords; "
        [style.gridRow]="result.hour + 2 " [attr.data-row]="result.hour + 2 " [style.gridColumn]="result.col + 1 "
        [attr.data-col]="result.col + 1 ">
    </div>

    <div class="date-box " *ngFor="let hour of calendarHelper.hoursOfDay(); " [style.gridRow]="hour.value + 2 "
        [attr.data-row]="hour.value + 2 " [style.gridColumn]="1 " [attr.data-col]="1 ">

        <div class="time-div ">
            <div>{{hour.toString()}}</div>
        </div>

    </div>

</div>