:host {
    --main-margin: 5px;
    --weekday-name-font-weight: 600;
    --weekday-name-and-number-font-size: 18px;
    --weekday-name-and-number-text-color: hotpink;
    --day-grid-template-columns: 50px repeat(7, 1fr);
    --record-font-size: 14px;
    /* --record-text-and-heading-color: white; */
    --record-minimum-height: 800px;
    --record-font-family: inherit;
    --record-text-color: white;
    --record-border-type: solid;
    --record-border-thickness: 2px;
    --record-border-red-color: rgb(255, 53, 94);
    --record-border-red: var(--record-border-type) var(--record-border-thickness) var(--record-border-red-color);
    --record-border-orange-color: rgb(255, 96, 55);
    --record-border-orange: var(--record-border-type) var(--record-border-thickness) var(--record-border-orange-color);
    --record-border-yellow-color: rgb(255, 204, 51);
    --record-border-yellow: var(--record-border-type) var(--record-border-thickness) var(--record-border-yellow-color);
    --record-border-green-color: rgb(102, 255, 102);
    --record-border-green: var(--record-border-type) var(--record-border-thickness) var(--record-border-green-color);
    --record-border-light-blue-color: rgb(80, 191, 230);
    --record-border-light-blue: var(--record-border-type) var(--record-border-thickness) var(--record-border-light-blue-color);
    --record-border-pink-color: rgb(255, 0, 204);
    --record-border-pink: var(--record-border-type) var(--record-border-thickness) var(--record-border-pink-color);
    --record-border-violet-color: rgb(150, 78, 202);
    --record-border-violet: var(--record-border-type) var(--record-border-thickness) var(--record-border-violet-color);
}


/*small size wrapper*/

@media screen and (max-width: 800px) {
     :host {
        --weekday-name-and-number-font-size: 13px;
        --record-minimum-height: 100px;
        --record-font-family: 'Arial Narrow';
        --record-font-size: 10px;
        --record-text-color: white;
        --record-border-thickness: 1px;
        --record-minimum-height: 400px;
    }
}

.weekdayName-names-contianer {
    display: grid;
    grid-template-columns: var(--day-grid-template-columns);
}

.weekdayName-names-contianer div {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    grid-row: 1;
    font-weight: var(--weekday-name-font-weight);
    text-align: center;
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
}

.weekdayName-names-contianer div[data-col="1"] {
    grid-column: 1;
}

.today {
    background-color: rgb(88, 85, 253, 0.4) !important;
}

.day {
    color: white;
    text-align: center;
}

.record {
    color: white;
}

.date-box-contianer {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    display: grid;
    grid-template-columns: var(--day-grid-template-columns);
    grid-template-rows: repeat(25, auto);
}

.date-box-contianer>.date-box.empty {
    background-image: linear-gradient(40deg, rgb(73, 72, 72), black);
}

.date-box-contianer>.date-box {
    background-color: rgba(0, 0, 0, 0.5);
    /* min-height: var(--record-minimum-height); */
    /* display: grid;
    grid-template-rows: repeat(25, 50px); */
}

.table {
    display: grid;
    grid-template-rows: repeat(24, 50px);
    grid-row: 2 / 25;
}

.time-div {
    color: var(--weekday-name-and-number-text-color);
}

.record-container {
    color: var(--record-text-color);
    border: 1px dotted grey;
}

.record {
    display: inline;
}

.date-box-contianer>.date-box>.day {
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
    grid-row: 1;
}

.date-box-contianer>.date-box>.table>.record {
    color: var(--record-text-and-heading-color);
    font-size: var(--record-font-size);
    font-family: var(--record-font-family);
    letter-spacing: var(--record-letter-spacing);
}

.date-box-contianer>[data-col="1"].date-box {
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
    border-bottom: var(--record-border-red);
    grid-column: 2;
    grid-row: 1;
    background-color: black;
}

.date-box-contianer>[data-col="2"].date-box {
    border-left: var(--record-border-orange);
    border-top: var(--record-border-orange);
    border-bottom: var(--record-border-orange);
    grid-column: 3;
    grid-row: 1;
}

.date-box-contianer>[data-col="3"].date-box {
    border-left: var(--record-border-yellow);
    border-top: var(--record-border-yellow);
    border-bottom: var(--record-border-yellow);
    grid-column: 4;
    grid-row: 1;
}

.date-box-contianer>[data-col="4"].date-box {
    border-left: var(--record-border-green);
    border-top: var(--record-border-green);
    border-bottom: var(--record-border-green);
    grid-column: 5;
    grid-row: 1;
}

.date-box-contianer>[data-col="5"].date-box {
    border-left: var(--record-border-light-blue);
    border-top: var(--record-border-light-blue);
    border-bottom: var(--record-border-light-blue);
    grid-column: 6;
    grid-row: 1;
}

.date-box-contianer>[data-col="6"].date-box {
    border-left: var(--record-border-pink);
    border-top: var(--record-border-pink);
    border-bottom: var(--record-border-pink);
    grid-column: 7;
    grid-row: 1;
}

.date-box-contianer>[data-col="7"].date-box {
    border-left: var(--record-border-violet);
    border-top: var(--record-border-violet);
    border-bottom: var(--record-border-violet);
    border-right: var(--record-border-violet);
    grid-column: 8;
    grid-row: 1;
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

.day {
    padding-left: 2px;
}