:host {
    --main-margin: 5px;
    --weekday-name-font-weight: 600;
    --weekday-name-and-number-font-size: 18px;
    --weekday-name-and-number-text-color: hotpink;
    --weekday-name-font-family: inherit;
    --day-grid-template-columns: 50px repeat(7, 1fr);
    --record-font-size: 14px;
    --record-minimum-height: 800px;
    --record-font-family: inherit;
    --record-text-color: white;
    --record-border-type: solid;
    --record-border-thickness: 2px;
    --record-border-red-color: rgb(255, 53, 94);
    --record-border-red: var(--record-border-type) var(--record-border-thickness) var(--record-border-red-color);
    --record-border-orange-color: rgb(255, 96, 55);
    --record-border-orange: var(--record-border-type) var(--record-border-thickness) var(--record-border-orange-color);
    --record-border-yellow-color: rgb(255, 204, 51);
    --record-border-yellow: var(--record-border-type) var(--record-border-thickness) var(--record-border-yellow-color);
    --record-border-green-color: rgb(102, 255, 102);
    --record-border-green: var(--record-border-type) var(--record-border-thickness) var(--record-border-green-color);
    --record-border-light-blue-color: rgb(80, 191, 230);
    --record-border-light-blue: var(--record-border-type) var(--record-border-thickness) var(--record-border-light-blue-color);
    --record-border-pink-color: rgb(255, 0, 204);
    --record-border-pink: var(--record-border-type) var(--record-border-thickness) var(--record-border-pink-color);
    --record-border-violet-color: rgb(150, 78, 202);
    --record-border-violet: var(--record-border-type) var(--record-border-thickness) var(--record-border-violet-color);
    --record-max-width: 250px;
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
    :host {
       --record-max-width: 150px;
   }
}

/*medium size wrapper*/

@media screen and (max-width: 1100px) and (min-width: 800px) {
    :host {
       --record-max-width: 100px;
   }
}

/*small size wrapper*/

@media screen and (max-width: 800px) {
     :host {
        --weekday-name-and-number-font-size: 13px;
        --weekday-name-font-weight: 300;
        --weekday-name-font-family: 'Arial Narrow';
        --record-minimum-height: 100px;
        --record-font-family: 'Arial Narrow';
        --record-font-size: 10px;
        --record-text-color: white;
        --record-border-thickness: 1px;
        --record-minimum-height: 400px;
        --record-max-width: 70px;
    }
}

.today {
    background-color: rgb(88, 85, 253, 0.4) !important;
}

.date-box-contianer>.day, .date-box-contianer>.date-box>.time-div {
    font-family: var(--weekday-name-font-family);
    font-weight: var(--weekday-name-font-weight);
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
    
}

.record { 
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: var(--record-max-width);
    color: var(--record-text-color);
    border: 1px dotted grey;
    font-family: var(--record-font-family);
    font-size: var(--record-font-size);
    margin-left: var(--main-margin);
}

.day{
    text-align: center;
}

.date-box-contianer {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    display: grid;
    grid-template-columns: var(--day-grid-template-columns);
    grid-template-rows: repeat(25, minmax(60px, auto));
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.date-box-contianer>.date-box.empty {
    background-image: linear-gradient(40deg, rgb(73, 72, 72), black);
}

.time-div {
    color: var(--weekday-name-and-number-text-color);
}

.date-box-contianer>.date-box>.table>.record {
    color: var(--record-text-and-heading-color);
    font-size: var(--record-font-size);
    font-family: var(--record-font-family);
    letter-spacing: var(--record-letter-spacing);
}

.date-box-contianer>[data-col="1"].date-box {
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
    border-bottom: var(--record-border-red);
    background-color: red;
}

.testy{
    background-color: green !important;
}

.date-box-contianer>[data-col="2"].date-box {
    border-left: var(--record-border-orange);
    border-top: var(--record-border-orange);
    border-bottom: var(--record-border-orange);
    background-color: red;
}

.date-box-contianer>[data-col="3"].date-box {
    border-left: var(--record-border-yellow);
    border-top: var(--record-border-yellow);
    border-bottom: var(--record-border-yellow);
}

.date-box-contianer>[data-col="4"].date-box {
    border-left: var(--record-border-green);
    border-top: var(--record-border-green);
    border-bottom: var(--record-border-green);
}

.date-box-contianer>[data-col="5"].date-box {
    border-left: var(--record-border-light-blue);
    border-top: var(--record-border-light-blue);
    border-bottom: var(--record-border-light-blue);
}

.date-box-contianer>[data-col="6"].date-box {
    border-left: var(--record-border-pink);
    border-top: var(--record-border-pink);
    border-bottom: var(--record-border-pink);
}

.date-box-contianer>[data-col="7"].date-box {
    border-left: var(--record-border-violet);
    border-top: var(--record-border-violet);
    border-bottom: var(--record-border-violet);
    border-right: var(--record-border-violet);
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

.day {
    padding-left: 2px;
}