<div class="changePageContainer">
  <button class="greenButton" [style.gridColumn]="1"><span>&#60;</span></button>
  <button class="greenButton" [style.gridColumn]="2"><span>&#62;</span></button>
</div>

<div class="weekdayName-names-contianer">
  <div *ngFor="let weekdayName of weekdayNames;">
    {{weekdayName}}
  </div>
</div>

<div class="date-box-contianer">
  <div *ngFor="let dayData of dayDataForMonth;" [attr.data-col]="dayData.gridCol" [attr.data-row]="dayData.gridRow"
    [style.gridColumn]="dayData.gridCol" [style.gridRow]="dayData.gridRow" class="date-box"
    [attr.data-max-row]="maxGridRow === dayData.gridRow ? 1 : 0">

    <div class="day" (click)="addEvent($event, dayData)">{{dayData.dayInMonthArrayIndex + 1}}</div>

    <div class="table" *ngFor="let record of getRecordsByDay(dayData.dayInMonthArrayIndex + 1);">
      <div>
        {{padToTwo(record.hour)}}:{{padToTwo(record.minute)}} - {{record.what}}
      </div>
    </div>

  </div>
</div>

<div id="test" *ngIf="addingEvent" class="modal">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <h3 class="heading">{{getDayNameForMonth(profileForm.value.day)}} - Day {{profileForm.value.day}}</h3>

    <label class="what">
      What
    </label>
    <input class="what" type="text" formControlName="what" maxlength="25">

    <label class="hour">
      HH
    </label>
    <input class="hour" type="number" formControlName="hour">

    <label class="minute">
      MM
    </label>
    <input class="minute" type="number" formControlName="minute">

    <button class="submit greenButton" type="submit" [disabled]="!profileForm.valid">Submit</button>

    <button (click)="closeAddEventForm()" class="close-button redButton">Close</button>
  </form>

  <!-- <p>
    Form Value: {{ profileForm.value | json }}
  </p> -->

  <!-- <p>
    Form Status: {{ profileForm.status }}
  </p> -->

</div>