:host {
    --change-page-font-size: 30px;
    --heading-font-size: 30px;
    --heading-font-weight: bolder;
    --heading-letter-spacing: 3px;
    --record-font-size: 14px;
    --record-text-and-heading-color: white;
    --record-minimum-height: 150px;
    --weekday-name-font-weight: 600;
    --weekday-name-and-number-font-size: 18px;
    --weekday-name-and-number-text-color: hotpink;
    --main-margin: 5px;
    --record-font-family: inherit;
    --record-border-type: solid;
    --record-border-thickness: 2px;
    --record-border-red-color: rgb(255, 53, 94);
    --record-border-red: var(--record-border-type) var(--record-border-thickness) var(--record-border-red-color);
    --record-border-orange-color: rgb(255, 96, 55);
    --record-border-orange: var(--record-border-type) var(--record-border-thickness) var(--record-border-orange-color);
    --record-border-yellow-color: rgb(255, 204, 51);
    --record-border-yellow: var(--record-border-type) var(--record-border-thickness) var(--record-border-yellow-color);
    --record-border-green-color: rgb(102, 255, 102);
    --record-border-green: var(--record-border-type) var(--record-border-thickness) var(--record-border-green-color);
    --record-border-light-blue-color: rgb(80, 191, 230);
    --record-border-light-blue: var(--record-border-type) var(--record-border-thickness) var(--record-border-light-blue-color);
    --record-border-pink-color: rgb(255, 0, 204);
    --record-border-pink: var(--record-border-type) var(--record-border-thickness) var(--record-border-pink-color);
    --record-border-violet-color: rgb(150, 78, 202);
    --record-border-violet: var(--record-border-type) var(--record-border-thickness) var(--record-border-violet-color);
    --form-height: 400px;
    --form-width: 300px;
    --form-font-size: 20px;
    --form-heading-color: black;
    --form-undo-button-col-start: 11;
}

/*small size wrapper*/

@media screen and (max-width: 800px) {
     :host {
        --change-page-font-size: 20px;
        --heading-font-size: 20px;
        --heading-font-weight: bold;
        --heading-letter-spacing: 2px;
        --weekday-name-and-number-font-size: 13px;
        --record-minimum-height: 100px;
        --record-font-family: 'Arial Narrow';
        --record-font-size: 10px;
        --record-text-color: white;
        --record-border-thickness: 1px;
        --form-font-size: 16px;
        --form-height: 250px;
        --form-width: 200px;
        --form-undo-button-col-start: 10;
    }
}

.changePageContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--record-text-and-heading-color);
}

.changePageContainer button {
    font-size: var(--change-page-font-size);
}

.changePageContainer div {
    grid-row: 1;
    grid-column: 3 / 11;
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--heading-letter-spacing);
}

.changePageContainer button:first-of-type {
    grid-row: 1;
    grid-column: 1 / 2;
}

.changePageContainer button:last-of-type {
    grid-row: 1;
    grid-column: 12 / 13;
}

.weekdayName-names-contianer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekdayName-names-contianer div {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    grid-row: 1;
    grid-column: auto;
    font-weight: var(-weekday-name-font-weight);
    text-align: center;
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
}

.today{
    background-color: rgb(88, 85, 253, 0.4) !important;
}

.date-box-contianer {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(auto, minmax(var(--record-minimum-height), auto));
    /* background-image: linear-gradient(40deg, grey, white); */
}

.date-box {
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.5);
    min-height: var(--record-minimum-height);
}

.day {
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
}

.record {
    color: var(--record-text-and-heading-color);
    font-size: var(--record-font-size);
    font-family: var(--record-font-family);
    letter-spacing: var(--record-letter-spacing);
}

[data-col="1"].date-box,
[data-max-row="1"][data-col="1"].date-box {
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
}

[data-col="2"].date-box {
    border-left: var(--record-border-orange);
    border-top: var(--record-border-orange);
}

[data-col="3"].date-box {
    border-left: var(--record-border-yellow);
    border-top: var(--record-border-yellow);
}

[data-col="4"].date-box {
    border-left: var(--record-border-green);
    border-top: var(--record-border-green);
}

[data-col="5"].date-box {
    border-left: var(--record-border-light-blue);
    border-top: var(--record-border-light-blue);
}

[data-col="6"].date-box {
    border-left: var(--record-border-pink);
    border-top: var(--record-border-pink);
}

[data-col="7"].date-box {
    border-left: var(--record-border-violet);
    border-right: var(--record-border-violet);
    border-top: var(--record-border-violet);
}

[data-empty-below="1"][data-col="1"].date-box,
[data-max-row="1"][data-col="1"].date-box {
    border-bottom: var(--record-border-red);
}

[data-empty-below="1"][data-col="2"].date-box,
[data-max-row="1"][data-col="2"].date-box {
    border-bottom: var(--record-border-orange);
}

[data-empty-below="1"][data-col="3"].date-box,
[data-max-row="1"][data-col="3"].date-box {
    border-bottom: var(--record-border-yellow);
}

[data-empty-below="1"][data-col="4"].date-box,
[data-max-row="1"][data-col="4"].date-box {
    border-bottom: var(--record-border-green);
}

[data-empty-below="1"][data-col="5"].date-box,
[data-max-row="1"][data-col="5"].date-box {
    border-bottom: var(--record-border-light-blue);
}

[data-empty-below="1"][data-col="6"].date-box,
[data-max-row="1"][data-col="6"].date-box {
    border-bottom: var(--record-border-pink);
}

[data-empty-below="1"][data-col="7"].date-box,
[data-max-row="1"][data-col="7"].date-box {
    border-bottom: var(--record-border-violet);
}

[last-item="1"][data-col="1"].date-box {
    border-right: var(--record-border-red);
}

[last-item="1"][data-col="2"].date-box {
    border-right: var(--record-border-orange);
}

[last-item="1"][data-col="3"].date-box {
    border-right: var(--record-border-yellow);
}

[last-item="1"][data-col="4"].date-box {
    border-right: var(--record-border-green);
}

[last-item="1"][data-col="5"].date-box {
    border-right: var(--record-border-light-blue);
}

[last-item="1"][data-col="6"].date-box {
    border-right: var(--record-border-pink);
}

[last-item="1"][data-col="7"].date-box {
    border-right: var(--record-border-violet);
}

.formContainer {
    --width: var(--form-width);
    --height: var(--form-height);
    display: grid;
    position: absolute;
    z-index: 9999;
    top: 50%;
    width: var(--width);
    left: 50%;
    margin-top: calc(-0.5 * var(--form-height));
    margin-left: calc(-0.5 * var(--form-width));
    background-color: lightgray;
    box-shadow: green 5px 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(12, calc(var(--form-width)/12));
    grid-template-rows: repeat(13, calc(var(--form-height)/13)) 10px;
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

form.ng-invalid button.submit {
    background-color: #4CAF5050!important;
}

.red-button {
    background-color: #cc2929;
    border: 1px solid darkred;
}

.red-button:hover {
    background-color: darkred;
    border: 1px solid #cc2929;
}

.invalidRedButton {
    background-color: #af4c4c50!important;
}

.form-invalid {
    color: #af1a1a;
    font-style: italic;
    font-weight: 600;
}

.form-valid {
    color: #1fb123;
    font-style: italic;
    font-weight: 600;
}

button.undo {
    grid-row: 1 / 2;
    grid-column: var(--form-undo-button-col-start) / 13;
}

.form-heading {
    grid-row: 1 / 3;
    grid-column: 2 / 12;
    font-size: var(--form-font-size);
    color: var(--form-heading-color);
}

label.what {
    grid-row: 3 / 4;
    grid-column: 2 / 12;
}

input.what {
    grid-row: 4 / 5;
    grid-column: 2 / 12;
}

div.time {
    grid-row: 6 / 7;
    grid-column: 2 / 12;
}

input.hour {
    grid-row: 7 / 8;
    grid-column: 2 / 4;
}

input.minute {
    grid-row: 7 / 8;
    grid-column: 4 / 6;
}

.submit {
    grid-row: 9 / 10;
    grid-column: 2 / 12;
}

.close-button {
    grid-row: 11 / 12;
    grid-column: 2 / 6;
}

.delete-button {
    grid-row: 11 / 12;
    grid-column: 8 / 12;
}

.formStatus {
    grid-row: 13 / 14;
    grid-column: 1 / 12;
    text-align: center;
}

.minute input,
.hour input {
    width: 50px;
}

input.minute,
input.hour,
input.what {
    font-family: inherit;
    font-size: 14px;
}

.day {
    padding-left: 2px;
}
