:host {
    --main-margin: 5px;
    --record-text-and-heading-color: white;
    --heading-font-size: 16px;
    --heading-font-weight: normal;
    --change-page-font-size: 20px;
    --mask-background-color: rgba(68, 68, 68, 0.5);
    --title-grid-column: 6/9;
    --change-page-first-grid-column: 1/2;
    --change-page-last-grid-column: 2/3;
    --today-button-grid-column: 4/6;
}

/*small size wrapper*/

@media screen and (max-width: 800px) {
    :host {}
}

.changePageContainer {

    display: grid;
    grid-template-columns: repeat(9, minmax(50px, 50px));
    color: var(--record-text-and-heading-color);
    background-color: var(--mask-background-color);
}

.changePageContainer button:first-of-type {
    grid-row: 1;
    grid-column: var(--change-page-first-grid-column);
}

.changePageContainer button:last-of-type {
    grid-row: 1;
    grid-column: var(--change-page-last-grid-column);
}

.today-button {
    grid-row: 1;
    grid-column:var(--today-button-grid-column);
    width: 100px;
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
}

.title {
    grid-row: 1;
    grid-column: var(--title-grid-column);
    width: 200px;
}

.changePageContainer button:not(.today-button) {
    font-size: var(--change-page-font-size);
    width: 50px;
}

.changePageContainer > div {
    color: white;
    padding: 10px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: arial-narrow;
}

[class*="-button"]{
    cursor: pointer;
}

.green-button, .today-button {
    background-color: transparent;
    border: none;
}

.green-button:hover, .today-button:hover {
    background-color: black;
}