﻿.page-container {
    /* min-height: 100%; */
    /* position: relative; */
}

.menu-bar{
    background-color: red;
    height: 50px;
}

.page-content{
    background-color: blueviolet;
    height: calc(100vh - 50px);
}

.main-container {
    /* height: calc(100vh - 200px); */
}

/* h4 {
    color: gray;
    margin: 10px;
} */

/* input {
    color: gray;
} */