:host {
    --form-height: 400px;
    --form-width: 300px;
    --form-font-size: 20px;
    --form-heading-color: black;
    --form-status-font-size: 20px;

    --form-input-hour-start-col: 2;
    --form-input-hour-end-col: 4;
    --form-input-minute-start-col: 4;
    --form-input-minute-end-col: 6;
    --form-undo-button-col-start: 11;

    --form-heading-start-row: 0;
    --form-heading-end-row: 2;
    --form-input-what-start-row: 3;
    --form-input-what-end-row: 4;
    --form-input-description-start-row: 5;
    --form-input-description-end-row: 7;
    --form-div-time-start-row: 8;
    --form-div-time-end-row: 9;
    --form-input-time-start-row: 9;
    --form-input-time-end-row: 10;
    --form-input-submit-start-row: 11;
    --form-input-submit-end-row: 12;
    --form-input-close-start-row: 13;
    --form-input-close-end-row: 14;
    --form-input-delete-start-row: 13;
    --form-input-delete-end-row: 14;
    --form-status-start-row: 14;
    --form-status-end-row: 15;
}


/*small size wrapper*/

/* @media screen and (max-width: 8px) {
     :host {
        --form-font-size: 16px;
        --form-height: 250px;
        --form-width: 220px;
        --form-undo-button-col-start: 10;
        --form-input-hour-start-col: 2;
        --form-input-hour-end-col: 5;
        --form-input-minute-start-col: 5;
        --form-input-minute-end-col: 8;
        --form-status-font-size: 12px;
        --form-input-submit-start-row: 8;
        --form-div-time-start-row:6;
        --form-div-time-end-row: 7;
        --form-input-time-start-row: 7;
        --form-input-time-end-row: 8;
        --form-input-submit-end-row: 10;
        --form-input-close-start-row: 11;
        --form-input-delete-start-row: 11;
        --form-input-delete-end-row: 13;
        --form-input-close-end-row: 13;
    }
} */

.formContainer {
    --width: var(--form-width);
    --height: var(--form-height);
    display: grid;
    position: fixed;
    z-index: 9999;
    top: 50%;
    width: var(--width);
    left: 50%;
    margin-top: calc(-0.5 * var(--form-height));
    margin-left: calc(-0.5 * var(--form-width));
    background-color: lightgray;
    box-shadow: green 5px 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(12, calc(var(--form-width)/12));
    grid-template-rows: repeat(14, calc(var(--form-height)/13)) 10px;
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

form.ng-invalid button.submit {
    background-color: #4CAF5050!important;
}

.red-button {
    background-color: #cc2929;
    border: 1px solid darkred;
}

.red-button:hover {
    background-color: darkred;
    border: 1px solid #cc2929;
}

.invalidRedButton {
    background-color: #af4c4c50!important;
}

.form-invalid {
    color: #af1a1a;
    font-style: italic;
    font-weight: 600;
}

.form-valid {
    color: #1fb123;
    font-style: italic;
    font-weight: 600;
}

button.undo {
    grid-row: 1 / 2;
    grid-column: var(--form-undo-button-col-start) / 13;
}

.form-heading {
    grid-row-start: var(--form-heading-start-row);
    grid-row-end: var(--form-heading-end-row);
    grid-column: 2 / 12;
    font-size: var(--form-font-size);
    color: var(--form-heading-color);
}

input.what {
    grid-row-start: var(--form-input-what-start-row);
    grid-row-end: var(--form-input-what-end-row);
    grid-column: 2 / 12;
}

textarea.description{
    grid-row-start: var(--form-input-description-start-row);
    grid-row-end: var(--form-input-description-end-row);
    grid-column: 2 / 12;
}

div.time {
    grid-row-start: var(--form-div-time-start-row);
    grid-row-end: var(--form-div-time-end-row);
    grid-column: 2 / 12;
}

input.hour {
    grid-row-start: var(--form-input-time-start-row);
    grid-row-end: var(--form-input-time-end-row);
    grid-column-start: var(--form-input-hour-start-col);
    grid-column-end: var(--form-input-hour-end-col);
}

input.minute {
    grid-row-start: var(--form-input-time-start-row);
    grid-row-end: var(--form-input-time-end-row);
    grid-column-start: var(--form-input-minute-start-col);
    grid-column-end: var(--form-input-minute-end-col);
}

.submit {
    grid-row-start: var(--form-input-submit-start-row);
    grid-row-end: var(--form-input-submit-end-row);
    grid-column: 2 / 12;
}

.close-button {
    grid-row-start: var(--form-input-close-start-row);
    grid-row-end: var(--form-input-close-end-row);
    grid-column: 2 / 6;
}

.delete-button {
    grid-row-start: var(--form-input-delete-start-row);
    grid-row-end: var(--form-input-delete-end-row);
    grid-column: 8 / 12;
}

.formStatus {
    grid-row-start: var(--form-status-start-row);
    grid-row-end: var(--form-status-end-row);
    grid-column: 1 / 12;
    text-align: center;
    font-size: var(--form-status-font-size);
}

.minute input,
.hour input {
    width: 50px;
}

input.minute,
input.hour,
input.what {
    font-family: inherit;
    font-size: 14px;
}

.day {
    padding-left: 2px;
}