:host {
    --form-height: 400px;
    --form-width: 300px;
    --form-font-size: 20px;
    --form-heading-color: black;
    --form-undo-button-col-start: 11;
}

/*small size wrapper*/

@media screen and (max-width: 800px) {
     :host {
        --form-font-size: 16px;
        --form-height: 250px;
        --form-width: 200px;
        --form-undo-button-col-start: 10;
    }
}


.formContainer {
    --width: var(--form-width);
    --height: var(--form-height);
    display: grid;
    position: absolute;
    z-index: 9999;
    top: 50%;
    width: var(--width);
    left: 50%;
    margin-top: calc(-0.5 * var(--form-height));
    margin-left: calc(-0.5 * var(--form-width));
    background-color: lightgray;
    box-shadow: green 5px 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(12, calc(var(--form-width)/12));
    grid-template-rows: repeat(13, calc(var(--form-height)/13)) 10px;
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

form.ng-invalid button.submit {
    background-color: #4CAF5050!important;
}

.red-button {
    background-color: #cc2929;
    border: 1px solid darkred;
}

.red-button:hover {
    background-color: darkred;
    border: 1px solid #cc2929;
}

.invalidRedButton {
    background-color: #af4c4c50!important;
}

.form-invalid {
    color: #af1a1a;
    font-style: italic;
    font-weight: 600;
}

.form-valid {
    color: #1fb123;
    font-style: italic;
    font-weight: 600;
}

button.undo {
    grid-row: 1 / 2;
    grid-column: var(--form-undo-button-col-start) / 13;
}

.form-heading {
    grid-row: 1 / 3;
    grid-column: 2 / 12;
    font-size: var(--form-font-size);
    color: var(--form-heading-color);
}

label.what {
    grid-row: 3 / 4;
    grid-column: 2 / 12;
}

input.what {
    grid-row: 4 / 5;
    grid-column: 2 / 12;
}

div.time {
    grid-row: 6 / 7;
    grid-column: 2 / 12;
}

input.hour {
    grid-row: 7 / 8;
    grid-column: 2 / 4;
}

input.minute {
    grid-row: 7 / 8;
    grid-column: 4 / 6;
}

.submit {
    grid-row: 9 / 10;
    grid-column: 2 / 12;
}

.close-button {
    grid-row: 11 / 12;
    grid-column: 2 / 6;
}

.delete-button {
    grid-row: 11 / 12;
    grid-column: 8 / 12;
}

.formStatus {
    grid-row: 13 / 14;
    grid-column: 1 / 12;
    text-align: center;
}

.minute input,
.hour input {
    width: 50px;
}

input.minute,
input.hour,
input.what {
    font-family: inherit;
    font-size: 14px;
}

.day {
    padding-left: 2px;
}