:host{
    --icon-height: 200px;
    --app-container-margin-y: 100px;
}

@media screen and (max-width: 800px) {
    :host {
        --icon-height: 100px;
        --app-container-margin-y: 50px;
   }
}

.app-container {  
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, calc(var(--icon-height)/2));
    color: white;
}

.app-container:nth-child(){
    overflow: hidden;
}

svg{
    height: var(--icon-height);
}

img{
    height: var(--icon-height);
}

.calendar{
    grid-column:  2/ 4;
    grid-row: 2/4;
}

.chat{
    grid-column:  6 / 8;
    grid-row: 2/4;
}

.todo{
    grid-column:  10/ 12;
    grid-row: 2/4;
}

.middle{
    height: var(--icon-height);
    display: grid;
    grid-template-rows: auto auto auto;
}

.imageText{
    height: 1em;
    grid-row: 2;
}

.imageText > div{
    font-size: 30px;
    text-align: center;
    transition: 1000ms;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.imageText> div:hover{
    color: hotpink;
    border-bottom: 1px solid lightskyblue;
    cursor: pointer;
}

