:host {
    --icon-router-link-font-size: 120px;
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    :host {
        --icon-router-link-font-size: 80px;
   }
}

@media screen and (max-width: 500px) {
     :host {
        --icon-router-link-font-size: 50px;
    }
}

.app-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    padding-top: 40px;
}

.app-container > div{
    padding: 0px 40px 30px 0px;
    display: inline-block;
}

.app-container > span:last-child{
    padding: 0;
}

[class^="icon-"], [class*=" icon-"] {
    color: hotpink;
    font-size: var(--icon-router-link-font-size);
}

[class*=" icon-"]:hover, [class^="icon-"]:hover {
    color: blue;
    cursor: pointer;
}

[class^="icon-"]:active,
[class*=" icon-"]:focus {
    outline: 0;
    border: none;
}
