<div class="side-menu">

        <ng-container *ngIf="sideMenus.hasOwnProperty(urlPath)">

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/chatGroup"
                        class="side-menu-button side-menu" title="go to main menu">
                        Main Menu
                </button>

                <ng-container *ngFor="let menu of sideMenus[urlPath].menu">

                        <button *ngIf="menu.routerLink"
                        (mouseover)='over($event)' (mouseout)='out($event)'
                                class="side-menu-button {{menu.class}}" title="{{menu.tooltip}}"
                                routerLink="{{menu.routerLink}}" 
                                [routerLinkActive]="['is-active']">
                                {{menu.name}}
                        </button>

                        <button *ngIf="!menu.routerLink"
                        (mouseover)='over($event)' (mouseout)='out($event)'
                                class="side-menu-button {{menu.class}}" title="{{menu.tooltip}}">
                                {{menu.name}}
                        </button>

                </ng-container>

        </ng-container>

        <ng-container *ngIf="!sideMenus.hasOwnProperty(urlPath)">

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/calendar"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="go to calendar">
                        Calendar
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/chatGroup"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="go to Chats">
                        Chat
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/createChatGroup"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu"
                        title="Create New Chat Group">
                        New Chat
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/todo"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="go to todo">
                        Todo
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/notepad"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="go to notepads">
                        Notepad
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/profile"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="go to profile">
                        Profile
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' (click)="toggleDarkMode()"
                        class="side-menu-button side-menu" title="toggle dark mode">
                        Dark Mode
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' (click)="toggleLogs()"
                        class="side-menu-button side-menu" title="toggle debugger">
                        Logs
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/newUser"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="go to new user"
                        *ngIf="username === 'david'">
                        New User
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' routerLink="/weighIns"
                        [routerLinkActive]="['is-active']" class="side-menu-button side-menu" title="Check your weights">
                        Weigh Ins
                </button>

                <button (mouseover)='over($event)' (mouseout)='out($event)' (click)="logout()" class="side-menu-button"
                        title="logout">
                        Logout
                </button>

        </ng-container>
</div>