:host {
    --main-margin: 5px;
    --weekday-name-font-weight: 600;
    --weekday-name-and-number-font-size: 18px;
    --weekday-name-and-number-text-color: lightgrey;
    --weekday-name-font-family: inherit;
    --day-grid-template-columns-first-width: 30px;
    --day-grid-template-columns: var(--day-grid-template-columns-first-width) repeat(7, 1fr);
    --day-grid-template-rows-first-width: 30px;
    --day-grid-template-rows: var(--day-grid-template-rows-first-width) repeat(24, minmax(60px, auto));
    --record-font-size: 24px;
    --record-minimum-height: 800px;
    --record-font-family: inherit;
    --record-text-color: white;
    --record-background-color: rgba(0, 120, 212, 0.24);
    --record-max-width: 400px;
    --record-border-type: solid;
    --record-border-thickness: 2px;
    --record-border-color: black;
    --record-border: var(--record-border-type) var(--record-border-thickness) var(--record-border-color);
    --record-border-red-color: rgb(255, 53, 94);
    --record-border-red: var(--record-border-type) var(--record-border-thickness) var(--record-border-red-color);
    --record-border-orange-color: rgb(255, 96, 55);
    --record-border-orange: var(--record-border-type) var(--record-border-thickness) var(--record-border-orange-color);
    --record-border-yellow-color: rgb(255, 204, 51);
    --record-border-yellow: var(--record-border-type) var(--record-border-thickness) var(--record-border-yellow-color);
    --record-border-green-color: rgb(102, 255, 102);
    --record-border-green: var(--record-border-type) var(--record-border-thickness) var(--record-border-green-color);
    --record-border-light-blue-color: rgb(80, 191, 230);
    --record-border-light-blue: var(--record-border-type) var(--record-border-thickness) var(--record-border-light-blue-color);
    --record-border-pink-color: rgb(255, 0, 204);
    --record-border-pink: var(--record-border-type) var(--record-border-thickness) var(--record-border-pink-color);
    --record-border-violet-color: rgb(150, 78, 202);
    --record-border-violet: var(--record-border-type) var(--record-border-thickness) var(--record-border-violet-color);
    --mask-background-color: rgba(68, 68, 68, 0.5);
}

@media screen and (max-width: 1300px) and (min-width: 1100px) {
    :host {
        --record-max-width: 300px;
    }
}

/*medium size wrapper*/

@media screen and (max-width: 1100px) and (min-width: 800px) {
    :host {
        --record-max-width: 200px;
    }
}

/*small size wrapper*/

@media screen and (max-width: 800px) {
    :host {
        --weekday-name-and-number-font-size: 13px;
        --weekday-name-font-weight: 300;
        --weekday-name-font-family: 'Arial Narrow';
        --day-grid-template-rows-first-width: 20px;
        --day-grid-template-columns-first-width: 20px;
        --record-minimum-height: 100px;
        --record-font-family: 'Arial Narrow';
        --record-font-size: 16px;
        --record-text-color: white;
        --record-minimum-height: 400px;
        --record-max-width: 150px;
        --record-border-thickness: 1px;
    }
}

.today {
    font-style: italic;
}

.date-box-contianer {
    margin-left: var(--main-margin);
    margin-right: var(--main-margin);
    display: grid;
    grid-template-columns: var(--day-grid-template-columns);
    grid-template-rows: var(--day-grid-template-rows);
}

.date-box-contianer>.day, .date-box-contianer>.date-box>.time-div {
    font-family: var(--weekday-name-font-family);
    font-weight: var(--weekday-name-font-weight);
    font-size: var(--weekday-name-and-number-font-size);
    color: var(--weekday-name-and-number-text-color);
}

.date-box-contianer>.day.invalid {
    color: peachpuff;
}

.date-box-contianer>.date-box.invalid:not(.day) {
    background-image: linear-gradient( 45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
    background-size: 5px 5px;
}

.mask {
    background-color: var(--mask-background-color);
}

.record {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: var(--record-max-width);
    color: var(--record-text-color);
    border: 1px dotted grey;
    font-family: var(--record-font-family);
    font-size: var(--record-font-size);
    margin: 5px 5px 0px 5px;
    background-color: var(--record-background-color);
}

.day {
    text-align: center;
    padding-left: 2px;
    grid-row: 0;
    grid-column-start: 2;
    grid-column-end: 9;
}

.time-div {
    color: var(--weekday-name-and-number-text-color);
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.time-div > div{
    grid-row: 2;
}

.date-box-contianer>[data-row="1"].date-box {
    border: none!important;
}

.date-box-contianer>[data-col="2"].date-box {
    grid-column-start: 2;
    grid-column-end: 9;
}

.date-box-contianer>[data-col="2"][data-row="2"].date-box {
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
    border-right: var(--record-border-red);
}

.red-border{
    border-left: var(--record-border-red);
    border-top: var(--record-border-red);
    border-right: var(--record-border-red);
}

.orange-border{
    border-left: var(--record-border-orange);
    border-top: var(--record-border-orange);
    border-right: var(--record-border-orange);
}

.yellow-border{
    border-left: var(--record-border-yellow);
    border-top: var(--record-border-yellow);
    border-right: var(--record-border-yellow);
}

.green-border{
    border-left: var(--record-border-green);
    border-top: var(--record-border-green);
    border-right: var(--record-border-green);
}


.light-blue-border{
    border-left: var(--record-border-light-blue);
    border-top: var(--record-border-light-blue);
    border-right: var(--record-border-light-blue);
}

.pink-border{
    border-left: var(--record-border-pink);
    border-top: var(--record-border-pink);
    border-right: var(--record-border-pink);
}

.violet-border{
    border-left: var(--record-border-violet);
    border-top: var(--record-border-violet);
    border-right: var(--record-border-violet);
}

.date-box-contianer>[data-col="2"][data-row="25"].date-box {
    border-bottom: var(--record-border-green);
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}