:host {
    --text-area-cols: 600px;
    --main-font-color: #222222;
    --notepad-item-controls-font-size: 30px;
    --notepad-item-header-font-size: 16px;
    --notepad-item-header-font-weight: bold;
    --notepad-item-font-family: Roboto;
    --notepad-item-font-size: 14px;
    --notepad-item-name-img-display: inline;
    --notepad-item-name-img-height: 30px;
    --notepad-title-font-size: 30px;
}


/*medium size wrapper*/

@media screen and (max-width: 700px) and (min-width: 500px) {
     :host {
        --text-area-cols: 300px;
        --notepad-item-controls-font-size: 26px;
        --notepad-item-header-font-size: 16px;
        --notepad-item-header-font-weight: medium;
        --notepad-item-font-family: Roboto;
        --notepad-item-font-size: 12px;
        --notepad-item-name-img-display: inline;
        --notepad-item-name-img-height: 20px;
        --notepad-title-font-size: 25px;
    }
}
@media screen and (max-width: 500px) and (min-width: 400px) {
    :host {
       --text-area-cols: 300px;
       --notepad-item-controls-font-size: 22px;
       --notepad-item-header-font-size: 14px;
       --notepad-item-header-font-weight: medium;
       --notepad-item-font-family: Arial Narrow;
       --notepad-item-font-size: 12px;
       --notepad-item-name-img-display: none;
       --notepad-item-name-img-height: 15px;
       --notepad-title-font-size: 20px;
   }
}

/*small size wrapper*/

@media screen and (max-width: 400px) {
     :host {
        --text-area-cols: 200px;
        --notepad-item-controls-font-size: 22px;
        --notepad-item-header-font-size: 14px;
        --notepad-item-header-font-weight: medium;
        --notepad-item-font-family: Arial Narrow;
        --notepad-item-font-size: 12px;
        --notepad-item-name-img-display: none;
        --notepad-item-name-img-height: 15px;
        --notepad-title-font-size: 16px;
    }
}

.disabled-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .75;
    z-index: 9999999;
}

.notepad-container {
    padding: 20px 20px 0px 20px;
}

.notepad-editor-container {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
}

.notepad-title {
    color: white;
    font-family: inherit;
    font-size: var(--notepad-title-font-size);
}

.notepad-editor-container .notepad-text-input {
    margin-top: 20px;
    outline: none;
    resize: none;
    min-height: 500px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-family: inherit;
    font-size: 18px;
    white-space: pre-wrap;
}

.hide {
    display: none;
}

.notepad-item-container {
    display: grid;
    grid-template-columns: auto auto auto 20px;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 1);
    color: var(--main-font-color);
    overflow-x: auto;
}

.notepad-item-container::-webkit-scrollbar,.message-container::-webkit-scrollbar  {
    width: 10px;
    height: 10px;
}

.notepad-item-container::-webkit-scrollbar-track,.message-container::-webkit-scrollbar-track  {
    background: linear-gradient(90deg,white,white 1px,white 0,white);
}

.notepad-item-container::-webkit-scrollbar-thumb,.message-container::-webkit-scrollbar-thumb  {
    background: -webkit-gradient(linear,left top,left bottom,from(#ff8a00),to(#e52e71));
    background: linear-gradient(0deg,#ff8a00,#e52e71);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.notepad-item-controls {
    grid-row: 1;
    grid-column: 1/5;
    height: 40px;
    font-family: inherit;
    font-size: var(--notepad-item-controls-font-size);
    font-weight: bold;
    text-align: right;
}

div[class*="notepad-item-control-"] {
    display: inline;
    padding-left: 20px;
}

div[class*="notepad-item-control-"] > span:hover {
    cursor: pointer;
}

[class^="icon-"], [class*=" icon-"] {
    color: #555555;
}

.notepad-item-header {
    grid-row: 2;
    height: 48px;
    font-family: inherit;
    font-size: var(--notepad-item-header-font-size);
    font-weight: var(--notepad-item-header-font-weight);
}

.notepad-item {
    display: flex;
    align-items: center;
}

.notepad-item-name-box{
    display: flex;
    align-items:center;
}

.notepad-item-name-img{
    display: var(--notepad-item-name-img-display);
    height: var(--notepad-item-name-img-height);
    padding-right: 5px;
}

.notepad-item-name-box > .icon-folder{
    display: var(--notepad-item-name-img-display);
    padding-right: 5px;
}

.notepad-item-name-value {
    display: inline;
}

.notepad-item>div:hover {
    cursor: default;
}

.notepad-item-container .notepad-item-name:not(.notepad-item-header),
.notepad-item-container .notepad-item-size:not(.notepad-item-header),
.notepad-item-container .notepad-item-type:not(.notepad-item-header) {
    font-family: var(--notepad-item-font-family);
    font-size: var(--notepad-item-font-size);
    border-bottom: 1px solid #dadce0;
}

.notepad-item-container .notepad-item-name {
    min-height: 48px;
    grid-column: 1;
}

.notepad-item-container .notepad-item-type {
    min-height: 48px;
    grid-column: 2;
}

.notepad-item-container .notepad-item-size {
    min-height: 48px;
    grid-column: 3;
}

.notepad-item-container .notepad-item-add {
    min-height: 48px;
    font-size: 26px;
    grid-column: 4;
    cursor: pointer;
}

.notepad-item-container .notepad-item-name span {
    transition: 300ms;
    border-bottom: transparent solid 1px;
}

.highlighted-row {
    background-color: #E8F0FE;
    color: #1967d2;
}

.notepad-unsaved-changes {
    border-left: 5px red solid;
}

.new-file {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.75);
    z-index: 9999999;
    font-family: 'ps-regular'
}

.new-file>div {
    display: grid;
    grid-template-columns: repeat(12, 30px);
    grid-template-rows: 15px 32px 15px 32px 15px 32px 15px;
    position: fixed;
    z-index: 9999;
    top: 50%;
    width: var(--width);
    left: 50%;
    margin-top: calc(-0.5 * calc(15px + 32px + 15px + 32px + 15px + 32px + 15px));
    margin-left: calc(-0.5 * calc(12 * 30px));
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .32), 0 8px 40px rgba(0, 0, 0, .4);
    border-radius: 8px;
}

.new-notepad-title {
    font-size: 20px;
    color: var(--main-font-color);
    grid-row: 2;
    grid-column: 2/10;
}

.new-notepad-cancel {
    grid-row: 2;
    grid-column: 11/12;
    cursor: pointer;
}

.new-notepad-name-input {
    grid-row: 4;
    grid-column: 2/12;
    border: 1px solid lightgrey;
    padding-left: 4px;
}

.new-notepad-cancel-button {
    grid-row: 6;
    grid-column: 7/9;
}

.new-notepad-create-button {
    grid-row: 6;
    grid-column: 10/12;
}

.new-notepad-file-type {
    font-size: 12px;
    color: var(--main-font-color);
    grid-row: 6;
    grid-column: 2/5;
    display: flex;
    align-items: center;
}

button {
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Roboto;
    font-size: 13px;
    line-height: 30px;
    min-height: 32px;
    min-width: 80px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, .0);
    transition: 500ms;
}

.blue-button {
    color: white;
    background-color: #4285f4;
}

.blue-button:hover {
    box-shadow: 0 0 5px rgba(33, 33, 33, .7);
}

.white-button {
    color: var(--main-font-color);
    background-color: white;
}

.white-button:hover {
    box-shadow: 0 0 5px rgba(33, 33, 33, .7);
}