:host{
    --text-area-cols: 600px;
}

/*medium size wrapper*/

@media screen and (max-width: 700px) and (min-width: 400px) {
  :host {
    --text-area-cols: 300px;
 }
}


/*small size wrapper*/

@media screen and (max-width: 400px) {
  :host {
    --text-area-cols: 300px;
 }
}

.notepad-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: minmax(20px, auto) var(--text-area-cols) minmax(20px, auto);
    align-content: center;
}


.notepad-container  .notepad-text{
    grid-column: 2;
}

.notepad-container  .notepad-title{
    color:white;
    font-family:inherit;
    font-size: 30px;
}

.notepad-container  .notepad-text-input{
    margin-top: 20px;
    outline: none;
    resize: none;
    width: var(--text-area-cols);
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family:inherit;
    font-size: 18px;
}

.notepad-item-container{
    margin-left: 20px;
    padding-top: 20px;
}

.notepad-item-container .notepad-item{
    color:white;
    font-family:inherit;
    font-size: 30px;
    font-weight: bold;
    transition: 300ms;
    border-bottom: transparent solid 1px;
}

.notepad-item-container .notepad-item :hover{
    border-bottom: white solid 1px;
    cursor: pointer;
}