:host{
    --text-area-cols: 600px;
}

/*medium size wrapper*/

@media screen and (max-width: 700px) and (min-width: 400px) {
  :host {
    --text-area-cols: 300px;
 }
}


/*small size wrapper*/

@media screen and (max-width: 400px) {
  :host {
    --text-area-cols: 300px;
 }
}

.disabled-page{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#000;
    opacity: .75;
    z-index: 9999999;
}

.notepad-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: minmax(20px, auto) var(--text-area-cols) minmax(20px, auto);
    align-content: center;
}


.notepad-container  .notepad-text{
    grid-column: 2;
}

.notepad-container  .notepad-title{
    color:white;
    font-family:inherit;
    font-size: 30px;
}

.notepad-container  .notepad-text-input{
    margin-top: 20px;
    outline: none;
    resize: none;
    width: var(--text-area-cols);
    min-height: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-family:inherit;
    font-size: 18px;
    white-space: pre-wrap;    
}

.hide{
    display: none;
}

.notepad-item-container{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto;

    margin-left: 20px;
    padding-top: 20px;
}

.notepad-item-header{
    color:white;
    font-family:inherit;
    font-size: 30px;
    font-weight: bold;
}

.notepad-item-container .notepad-item-name:not(.notepad-item-header),
.notepad-item-container .notepad-item-size:not(.notepad-item-header){
    color:white;
    font-family:inherit;
    font-size: 20px;
}
.notepad-item-container .notepad-item-name{
    grid-column: 1;
}

.notepad-item-container .notepad-item-size{
    grid-column: 2;
}
.notepad-item-container .notepad-item-name span{
    transition: 300ms;
    border-bottom: transparent solid 1px;
}

.notepad-item-container .notepad-item-name span:hover{
    border-bottom: white solid 1px;
    cursor: pointer;
}

.notepad-unsaved-changes{
    border-left: 5px red solid;
}