:host {
    --message-container-width: 300px;
    --message-container-padding: 5px;
    --message-container-width-total: calc(300px + 2px * 2 + var(--message-container-padding) * 2); 
    --message-container-height: 500px;

    --input-width: 250px;
    --input-height: 24px;
    --input-border-left: 5px;
    --input-border-width: 1px;
    --input-padding-width: 2px;
    --input-width-total: calc(var(--input-width) + var(--input-border-left) + var(--input-border-width) + var(--input-padding-width) * 2);

    --button-width: calc(var(--message-container-width-total) - var(--input-width-total));
    --button-height: calc(var(--input-height) + var(--input-border-width) * 2);

    --message-count-width: 200px;
    --message-count-margin: calc((var(--message-container-width-total) - var(--message-count-width)) / 2);
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: auto var(--message-container-width-total) auto;
    padding-top: 10px;
}

.middle-column {
    grid-row: 1;
    grid-column: 2;
}

.messagesContainer {
    display: inline-block;
    font-size: 14px;
    padding: var(--message-container-padding);
    border: var(--message-container-border);
    border-radius: 5px;
    width: var(--message-container-width);
    height: var(--message-container-height);
    overflow-y: auto;
}

.messagesContainer::-webkit-scrollbar {
    display: none;
}

.valid {
    border-left: var(--input-border-left) solid #42A948;
}

.invalid {
    border-left: var(--input-border-left) solid #a94442;
}

.input, button{
    vertical-align: bottom;
}

.input {
    display: inline-block;
    width: var(--input-width);
    padding: 0px var(--input-padding-width);
    border: var(--input-border-width) solid green;
    
    font-size: 16px;
    background-color: white;
}

.input:focus{
    outline: none;
}

button {
    background-color: #4CAF50;
    border: var(--input-border-width) solid green;
    width: var(--button-width);
    height: var(--button-height);
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

.btn-disable {
    cursor: no-drop !important;
    background-color: #a94442;
    border-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.messageCount {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: var(--message-count-margin);
    border: 1px solid pink;
    border-radius: 5px;
    width: var(--message-count-width);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
