<div class="messagesContainer">
    <app-chat-detail *ngFor="let message of chatMessages" [recieveChat]="message"></app-chat-detail>
</div>

<div id="sendChatForm">
    <input (keyup)="onMessageTyping($event)" class="{{content.trim().length > 0 ? 'valid' : 'invalid'}}" id="chatMessage" minlength="1" maxlength="35" placeholder="type a message" />
    <button class='emoji' (click)="toggleEmojiPicker()">Pic</button>
    <button class="btn btn-success {{content.length > 0 ? '' : 'btn-disable'}}" (click)="postMessage($event)">
    Post
  </button>
</div>

<div class="messageCount">
    New Messages: {{newChatMessagesCount}}
</div>

<div class="modal" *ngIf="showEmojiPicker">
    <button (click)="toggleEmojiPicker()">close</button>
    <emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
</div>
