<div class="grid-container">

    <div class="middle-column">

        <div class="messagesContainer">
            <app-chat-detail *ngFor="let message of chatMessages" [recieveChat]="message"></app-chat-detail>
        </div>

        <div id="sendChatForm">

            <textarea (keyup)="onMessageTyping($event)" class="{{messageInput.trim().length > 0 ? 'valid' : 'invalid'}}"
               rows="1" id="chatMessage" minlength="1" maxlength="500" placeholder="type a message" autocomplete="off"></textarea>

            <button class="btn btn-success {{messageInput.length > 0 ? '' : 'btn-disable'}}" (click)="postMessage($event)">
                Post
            </button>
        </div>

        <div class="messageCount">
            New Messages: {{newChatMessagesCount}}
        </div>

    </div>
</div>
