<div class="grid-container">

    <div class="middle-column">

        <div class="messagesContainer">
            <ol class="messages-list">
                <app-chat-detail *ngFor="let message of chatService.chatMessagesByDate" [recieveChat]="message"></app-chat-detail>
            </ol>
        </div>

        <div class="message-box">
            <!-- <button class="common-button"><span class="icon">😃</span></button> -->
            <div class="text-input {{messageInput.trim().length > 0 ? 'valid' : 'invalid'}}" 
            id="message-box" placeholder="Type a message" contenteditable="" (keyup)="onMessageTyping($event)"></div>
            <!-- <button id="voice-button" class="common-button"><span class="icon">🎤</span></button> -->
            <button id="submit-button" class="common-button {{messageInput.length > 0 ? '' : 'btn-disable'}}" 
                (click)="postMessage($event)"><span class="icon">➤</span></button>
          </div>

        <div class="messageCount">
            New Messages: {{newChatMessagesCount}}
        </div>

    </div>
</div>