/* MessagesComponent's private CSS styles */

.infoHeader {
    display: inline;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

body {
    margin: 2em;
}

.info {
    color: green;
    font-size: 12px;
    white-space: pre;
}

button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #3e8e41;
}
