@import '~@ctrl/ngx-emoji-mart/picker';
:root {
    /* main-stlyes */
    --main-background-color: none;
    --main-header-font-color: none;
    /* message-styles */
    --message-continer-border: none;
    --message-padding: none;
    --esther-message-color: none;
    --esther-message-border: none;
    --david-message-color: none;
    --david-message-border: none;
    --message-size: none;
    --message-weight: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Space Mono';
    background: var(--main-background-image), var(--main-background);
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-header-font-color);
}

.dark {
     --main-background: rgba(0, 0, 0, 1); 
    --main-background-image: url(assets/images/ringOnBlack.jpg);
    --main-header-font-color: rgb(248, 248, 248);
    --message-continer-border: 2px solid rgb(255, 0, 0);
    --message-padding: 5px 10px 5px 10px;
    --esther-message-color: deeppink;
    --esther-message-border: 2px solid purple;
    --david-message-color: rgb(0, 119, 255);
    --david-message-border: 2px solid blue;
    --message-size: 14px;
    --message-weight: 200;
}

.light {
    --main-background: rgba(248, 248, 248, 1);
    --main-background: url(https://raw.githubusercontent.com/bealesd/chatAngular/master/src/assets/images/spaceRed.jpg);
    --main-header-font-color: rgb(0, 0, 0);
    --message-continer-border: 2px solid rgb(252, 113, 113);
    --message-padding: 5px 10px 5px 10px;
    --esther-message-color: rgb(252, 97, 180);
    --esther-message-border: 2px solid rgb(238, 137, 238);
    --david-message-color: rgb(97, 97, 248);
    --david-message-border: 2px solid rgb(126, 126, 240);
    --message-size: 14px;
    --message-weight: 600;
}

.todo {
    --main-background: linear-gradient(120deg, #1d4e89, #00b2ca);
    --main-background-image: none;
}

.active-link{
    color:blue!important;
}