 :host{
    --text-ouput-width: 320px;
    --plus-button-width: 40px;
    --plus-button-padding: 5px;

    --col-one: calc(var(--plus-button-padding) + var(--plus-button-width) + var(--plus-button-padding));
    --col-two: var(--text-ouput-width);
    --col-three: calc(var(--plus-button-padding) + var(--plus-button-width) + var(--plus-button-padding));
}

.grid-container {
    display: grid;
    grid-template-columns: auto calc(var(--col-one) + var(--col-two) + var(--col-three)) auto;
    padding-top: 10px;
}

h1{
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    color:white;

}

.todo-list-container{
    grid-row: 2;
    grid-column: 2;
    display: grid;
}

.todo-header-container{
    height: 40px;
    grid-row: 1;
    display: grid;
    grid-template-columns: calc(var(--col-one) + var(--col-two))  var(--col-three);
    background-color: white; 
    padding-top: var(--plus-button-padding);
    padding-bottom: var(--plus-button-padding);
    margin-top: var(--plus-button-padding);
    margin-bottom: var(--plus-button-padding);
}

 .todo-input {
    grid-column: 1;
    grid-row: 1;
    font-size: 25px;
    padding-left: var(--plus-button-padding);
    border: none;
    outline: none;
    background-color: white;
  }

   .add-btn-container{
    grid-column: 2;
    grid-row: 1;
    padding-left: var(--plus-button-padding);
    padding-right: var(--plus-button-padding);
  }

   .add-btn-container > .add-btn {
    border: none; 
    margin: none;
    background: #000082;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    width: var(--plus-button-width);
    height: var(--plus-button-width);
  }

   .add-btn-container >.add-btn:hover {
    background: #ff6b24;
    transform: scale(1.3);
  } 


  .todo-item-container{
    height: 40px;
    display: grid;
    grid-template-columns: var(--col-two) var(--col-one) var(--col-three);
    background-color: white; 
    padding-top: var(--plus-button-padding);
    padding-bottom: var(--plus-button-padding);
    margin-top: var(--plus-button-padding);
}

  .delete-btn-container{
    grid-column: 2;
    padding-left: var(--plus-button-padding);
    padding-right: var(--plus-button-padding);
  }

  .delete-btn-container > .delete-btn {
    border: none; 
    margin: none;
    background: #000082;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    width: var(--plus-button-width);
    height: var(--plus-button-width);
  }

  .delete-btn-container >.delete-btn:hover {
    background: #f00000;
    transform: scale(1.3);
  } 

  .checkbox-btn-container{
    grid-column: 3;
    padding-left: var(--plus-button-padding);
    padding-right: var(--plus-button-padding);
  }

  .checkbox-btn-container > .checkbox-btn {
    border: none; 
    margin: none;
    background: #000082;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

    width: var(--plus-button-width);
    height: var(--plus-button-width);
  }

  .checkbox-btn-container >.checkbox-btn:hover {
    background: #008000;
    transform: scale(1.3);
  }


.todo-text{
    grid-column: 1;
    font-size: 25px;
    padding-left: var(--plus-button-padding);
    border: none;
    outline: none;
    background-color: white;
  }


  /* .form-alert {
    border: red 3px dotted;
  }

  .alert-text {
    color: red;
    font-size: 25px;
    padding: 5px;
    display: none;
  }
     */