/*#region SMALL SIZE WRAPPER - DEFAULT*/
:host {
    --vertical-spacing-between-elements: 10px;
    --grid-container-left-margin: 10px;
}
/*#endregion*/

/*#region LARGE SIZE WRAPPER*/
@media screen and (min-width: 600px) {
    :host {
        --vertical-spacing-between-elements: 10px;
        --grid-container-left-margin: 10px;
    }
}
/*#endregion*/

.weigh-in-page {
    padding: 0px var(--grid-container-left-margin) 10px 10px;
    font-family: var(--text-font-family);
}

.weigh-in-table{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}

.weigh-in-page .weigh-in-table .th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
}

.weigh-in-page .weigh-in-table .td.even {
    background: white;
}

.weigh-in-page .weigh-in-table .td.odd {
    background: #f8f6ff;

}

.weigh-in-page .weigh-in-table .th,
.weigh-in-page .weigh-in-table .td {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.highlighted-row {
    background-color: #E8F0FE !important;
    color: #1967d2;
}

.weigh-in-page input.td {
    border: none;
    margin-top: var(--vertical-spacing-between-elements);
    font-size: inherit;
    font-family: inherit;
}

button {
    color: white;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: var(--vertical-spacing-between-elements);
}

button.green-button {
    background-color: #1fb123;
    border: 1px solid darkgreen;
}

button.green-button:hover {
    background-color: darkgreen;
    border: 1px solid #1fb123;
}

button.red-button {
    margin-left: 10px;
    background-color: #cc2929;
    border: 1px solid darkred;
}

button.red-button:hover {
    background-color: darkred;
    border: 1px solid #cc2929;
}