/*#region SMALL SIZE WRAPPER - DEFAULT*/
:host {
    --text-ouput-width: 200px;
    --text-font-size: 13px;
    --text-font-family: 'Arial';
    --todo-button-size: 20px;
    --todo-item-height: 20px;
    --plus-button-width: 30px;
    --plus-button-height: 20px;
    --plus-button-padding: 2px;
    --todo-item-vertical-spacing: 3px;
}

/*#endregion*/

/*#region LARGE SIZE WRAPPER*/
@media screen and (min-width: 600px) {
    :host {
        --text-ouput-width: 320px;
        --todo-text-font-size: 18px;
        --todo-text-font-family: inherit;
        --todo-button-size: 30px;
        --todo-item-height: 40px;
        --plus-button-width: 40px;
        --plus-button-height: 40px;
        --plus-button-padding: 5px;
        --todo-item-vertical-spacing: 5px;
    }
}

/*#endregion*/

.grid-container {
    display: grid;
    padding: 0px 10px 10px 10px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    font-family: var(--text-font-family);
}

/* grid-template-columns: auto calc(var(--col-one) + var(--col-two) + var(--col-three)) auto; */

.grid-container .th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
}

.grid-container .td.even {
    background: white;
}

.grid-container .td.odd {
    background: #f8f6ff;

}

.grid-container .td {
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: #808080; */
    font-size: 1rem;
}

.grid-container .th,
.grid-container .td {
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-container input.td {
    border: none;
    font-size: 1.4rem;
}

.highlighted-row {
    background-color: #E8F0FE !important;
    color: #1967d2;
}